/* --- Design Sayfası Arka Planı --- */
body.page-design {
    background: linear-gradient(to bottom, #0a292f, #42b0d5, #0a292f); /* Koyu lacivertten turuncuya */
}

/* --- Design Sayfası Splash Arka Planı --- */
.page-design #splash-screen {
    background-image: url('/images/fir-forest-green-mountains.jpg'); /* Design sayfası için arkaplan */
}

/* --- Design Sayfası Scroll to Top Butonu --- */
.page-design #scrollToTopBtn {
    background-color: #42b0d5; /* Mavi tonlarında bir renk */
    color: white;
}

.page-design #scrollToTopBtn:hover {
    background-color: #1c6580; /* Hover'da daha koyu mavi */
}

/* --- New Tag Colors for Design Section --- */

.tag.video { 
    background-color: #6f42c1; /* A nice purple */ 
    color: white; 
}

.tag.design { 
    background-color: #e83e8c; /* A vibrant pink */ 
    color: white; 
}