/* --- Technic Sayfası Arka Planı --- */
body.page-technic {
    background: linear-gradient(to bottom, #230a2f, #9c7fbb, #230a2f); /* Koyu lacivertten mora */
}

/* --- Technic Sayfası Splash Arka Planı --- */
.page-technic #splash-screen {
    background-image: url('/images/photo-1486046866764-e426b5b93d98.jpeg'); /* Technic sayfası için arkaplan */
}

/* --- Technic Sayfası Scroll to Top Butonu --- */
.page-technic #scrollToTopBtn {
    background-color: #9c7fbb; /* Mor tonlarında bir renk */
    color: white;
}

.page-technic #scrollToTopBtn:hover {
    background-color: #654d7f; /* Hover'da daha koyu mor */
}