/* --- CV Sayfası Arka Planı --- */
body.page-cv {
    background: linear-gradient(to bottom, #282f0a, #f8cc1a, #2a2f0a); /* Koyu lacivertten yeşile */
}

/* --- CV Sayfası Splash Arka Planı --- */
.page-cv #splash-screen {
    background-image: url('/images/photo-1505598439340-9a5cdc676547.jpeg'); /* CV sayfası için arkaplan */
}

/* --- CV Sayfası Scroll to Top Butonu --- */
.page-cv #scrollToTopBtn {
    background-color: #f8cc1a; /* Sarımsı bir renk */
    color: #ffffff; /* Koyu yeşilimsi metin */
}

.page-cv #scrollToTopBtn:hover {
    background-color: #b89301; /* Hover'da daha koyu sarı */
}